body {
  background: #fbeaf0;
/*   cursor: url(./images/girl.png),auto; */
font-family: 'DotGothic16', sans-serif;
}

canvas {
  cursor: url(./images/girl.png),auto;
}

.page_button:hover {
  cursor: url(./images/girl.png),auto;
}
